.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    margin-top: 2em;
    }

.flex-item:nth-child(1){
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
    }

.auth-user{
    font-size: 42px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    color: #adafae;
    }

.fadeOut{    
     animation:fadeOut 3s 1;
    -webkit-animation:fadeOut 3s 1;
    animation-fill-mode: forwards;
    
    animation-delay:3s;
    -webkit-animation-delay:3s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
    
} 

@keyframes fadeOut{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes fadeOut{
    from {opacity :1;}
    to {opacity :0;}
}
